.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.custom-thumbnail {
  height: 300px;
}

.has-error {
  color: #a94442;
  font-weight: 700;
}

.custom-alert {
  position: absolute;
  width: 400px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 100;
}
