<h2>Top 10</h2>
<div class="panel panel-default ng-scope" ng-repeat="phone in phoneList track by phone.id">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="" class="ng-binding" ng-click="details(phone)">{{phone.name}}</a></h3>
  </div>
  <div class="panel-body">
    <div class="col-md-3">
      <img ng-if="phone.pictures" class="media-object pull-left" ng-src="{{getFirstPicture(phone.pictures)}}">
    </div>
    <div class="col-md-9">
      <p>{{phone.description}}</p>
      <b>Hind: €{{phone.price}}</b>
    </div>
  </div>
</div>
