<div class="btn-group pull-right">
  <button type="button" class="btn btn-default" ng-click="list = false"><i class="glyphicon glyphicon-th-large"></i></button>
  <button type="button" class="btn btn-default" ng-click="list = true"><i class="glyphicon glyphicon-list"></i></button>
</div>
<br/><br/>
<div ng-if="list" class="panel panel-default ng-scope" ng-repeat="phone in phoneList track by phone.id">
  <div class="panel-heading">
    <h3 class="panel-title"><a href="" class="ng-binding" ng-click="details(phone)">{{phone.name}}</a></h3>
  </div>
  <div class="panel-body">
    <div class="col-md-3">
      <img class="media-object pull-left" ng-click="details(phone)" ng-src="{{getFirstPicture(phone.pictures)}}">
    </div>
    <div class="col-md-9">
      <p>{{phone.description}}</p>
      <b>Hind: €{{phone.price}}</b>
    </div>
  </div>
</div>
<div ng-if="!list" class="row">
  <div class="col-xs-6 col-md-3" ng-repeat="phone in phoneList track by phone.id">
    <div class="custom-thumbnail thumbnail">
      <a href="">
        <img ng-click="details(phone)" ng-src="{{getFirstPicture(phone.pictures)}}">
      </a>
      <div class="caption">
        <h3><a ng-click="details(phone)">{{phone.name}}</a></h3>
      </div>
    </div>
  </div>
</div>
